*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

:root {
  --font: Arial, Helvetica, sans-serif;
  --bg: #ffffff;;
  --surface: #111;
  --border: #222;
  --text-primary: #fff;
  --text-muted: #666;
  --text-dim: #333;
  --blue: #1a7aff;
  --green: #00c853;
  --amber: #e8a020;
  --red: #d63030;
  --path-green: #00e676;
}

html, body, #root {
  height: 100%;
  background: var(--bg);
  color: var(--text-primary);
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
}

button { font-family: var(--font); cursor: pointer; }
